# Data files / media
# *.pkl
# *.png
# *.jpg
# *.jpeg
# *.JPG
*.npz
# *.npy
# *.mp4
# *.html
# *.sqlite
# *.hdf5
# *.fifo
# *.prof

# Mac
.DS_Store
*._*

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache
.pytest_cache/*
*.py[cod]
*$py.class


# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
docs/_build/
jupyter_execute/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
# Ignore the html pages only in the main branch, NOT IGNORED ON PAGES 
# /docs/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

#IDEA
.idea/
.idea/*

.code-workspace
/examples/protonerrors.log

